<h1>Task Title: </h1>
<h2><%= @task.title %></h2>
<h1>Task Description: </h1>
<h2><%= @task.description %></h2>
<p>
 <%= link_to 'Add subtask', new_task_subtask_path(@task) %>
</p>
<h4><%= link_to 'index page', tasks_path%></h4>
<h3><%=  %>

<table>
    <thead>
        <th>#</th>
        <th>User Story</th>
        <th>Story Points</th>
        <th>Status</th>
        <th>Edit?</th>
    </thead>
    <tbody>
        <% @task.subtasks.each do |subtask|%>
            <tr>
                <td><%= subtask.id%></td>
                <td><%= subtask.user_story%></td>
                <td><%= subtask.user_points%></td>
                <td><%= subtask.status %></td>
                <td><%= link_to "Edit Task no. #{subtask.id}", edit_task_subtask_path(@task, subtask) %></td>
                <th><%= button_to 'Destroy?', task_subtask_path(@task, subtask), method: :delete %></th>
            </tr>
        <% end%>
    </tbody>
</table>